.fill-page {
  width: 100vw;
  flex: 1;
  overflow-y: auto;
}


header h1 {
  margin-left: 2vw;
}

a {
  text-decoration: none;
  margin: 2vw;
  color: white;
}

#projects a {
  color: black;  
}

img {
  max-width: 25%;
}

.information-card {
  margin-top: 1.5vw;
}

.information-card p {
  margin-bottom: 2px;
}

.resume-link {
  color: black;
  font-weight: bold;
}

.resume-info {
  margin-top: 2vw;
}

.resume-info h4 {
  margin-top: 1.5vw;
}

.resume {
  max-width: 42%;
  margin-left: 2vw;
}

.contact {
  margin-left: 2vw;
}

.form-group {
  max-width: 50%;
}

button {
  margin: 1.5vw;
}

.footer-icon {
  
}