.fill-page {
  height: 100vw;
  width: 100vw;
}

h2 {
  font-size: 1.8vw;
}

header h1 {
  margin-left: 2vw;
}

a {
  text-decoration: none;
  margin: 2vw;
  color: white;
}

.about-content {
  font-size: 1.4vw;
}

#projects a {
  color: black
}

img {
  max-width: 25%;
}

.github-link {
  font-size: 1.5vw;
}