html, body, #root {
  height: 100%;
  background-color: #F8F0E3;
  font-family: 'Cinzel', serif;
}

#root {
  display: flex;
  flex-direction: column;
}

h3, h4, h5 {
  color: maroon;
}


header h1 {
  margin-left: 2vw;
}

a {
  text-decoration: none;
  margin: 2vw;
  color: white;
}

.nav-link a:hover {
  color: maroon;
}

.profile-image {
  width: 25%;
  margin-top: 1vw;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vw;
}

.projects {
  margin: 1vw;
}

.project-item {
  border-top: 1px solid black;
}

.project-item h4 {
  margin-bottom: -2vw;
}

#projects a {
  color: rgb(255, 255, 255);  
}


img {
  justify-content: center;
  max-width: 50%;
  margin-bottom: 1vw;
}

.about-container {
  margin: 2vw;
}

.information-card {
  margin-top: 1.5vw;
}

.information-card p {
  margin-bottom: 2px;
}

.resume-info {
  margin-top: 2vw;
}

.resume-info h4 {
  margin-top: 1.5vw;
}

.resume {
  max-width: 42%;
  margin: 2vw;
}

.resume a {
  color: white;
  margin: 0vw;
}

.contact {
  margin: 2vw;
  min-height: 100vw;
}

.form-group {
  max-width: 50%;
}

footer {
margin-top: auto;
}

button {
  margin: 1.5vw;
}


@media screen and (max-width: 600px) {
  .project-container {
    flex-direction: column;
  }

  .project-item {
    margin: 1vw;
  }

  .project-item h4 {
    margin-bottom: -2vw;
  }

  .project-item img {
    max-width: 100%;
  }

  .resume {
    max-width: 100%;
  }

  .resume-info {
    margin-top: 2vw;
  }

  .resume-info h4 {
    margin-top: 1.5vw;
  }

  .resume a {
    color: white;
    margin: 0vw;
  }

  .contact {
    margin: 2vw;
    min-height: 100vw;
  }

  .form-group {
    max-width: 100%;
  }

  footer {
    margin-top: auto;
  }

  button {
    margin: 1.5vw;
  }
}